* {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  body {
    /*display: flex;
    flex-direction: column;
    background-image: url(/src/img/bgImage.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    background-image: url(/src/img/bgImage.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
main {
  display: flex;
    flex-direction: column;
    
}

  #title {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }

  h1 {
    font-family: "Rye";
    color: #ffffff;
    font-size: 250%;
    text-align: center;
    font-weight: normal;
  }

  h3 {
    font-family: "Ingrid Darling";
    color: #ffffff;
    text-align: center;
    font-size: 220%;
    font-weight: normal;
  }

  #levels {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
  }

  .cards {
    column-gap: 2%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .card {
    position: relative;
    display: inline-block;
    text-align: center;
  
  }

  .image {
    height: 90px;
    width: 90px;
  
  }

  .levelText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Rye";
    font-size: 200%;
    text-align: center;
    object-fit: cover;
    color: #d13111;
  }

  .playButton {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  #playButton {
    width: 25%;
    font-family: "Rye";
    font-size: 18px;
    background-color: #f4e8d5;
    border: 0;
    
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 5%;
  }

  #howToPlayButton {
    width: 17%;
    height: 10%;
    font-family: "Rye";
    font-size: 60%;
    margin-right: -6%;
    background-color: #f4e8d5;
    border: 0;
  }

  #soundButton {
    background: none;
    border: none;
    width: 20%;
    height: 20%;
    margin-right: -15%;
  }
  #musicButton {
    background: none;
    border: none;
    width: 20%;
    height: 20%;
    margin-right: -5%;
  }

  .buttons button img {
    object-fit: cover;
    width: 20%;
    height: 20%;
  }
}
