* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  body {
    min-height: 100vh;
    background: linear-gradient(
      180deg,
      rgba(16, 1, 58, 1) 0%,
      rgba(55, 6, 117, 1) 100%
    );
    background-image: url(/src/img/bgImage.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .ranking {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 4vw;
    padding-top: 4vh;
  }

  #rankingButton {
    background-color: #f4e8d5;
    border: 0;
    border-radius: 5px;
  }

  #title {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
  }

  h1 {
    font-family: "Rye";
    color: #ffffff;
    font-size: 8vw;
    text-align: center;
    font-weight: normal;
  }

  h3 {
    font-family: "Ingrid Darling";
    color: #ffffff;
    text-align: center;
    font-size: 5vw;
    font-weight: normal;
  }

  #levels {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }

  .cards {
    gap: 2vw;
    display: flex;
    justify-content: center;
    padding: 2vw;
  }

  .card {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .card.selected {
    border-color: white;
    border-style: solid;
    border-radius: 5px;
  }

  .image {
    height: 16vw;
    width: 16vw;
  }

  .levelText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Rye";
    font-size: 7vw;
    text-align: center;
    object-fit: cover;
    color: #d13111;
  }

  .playButton {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #playButton {
    width: 20%;
    font-family: "Rye";
    font-size: 3vw;
    background-color: #f4e8d5;
    border: 0;
    margin-top: 2vw;
    border-radius: 5px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
    padding-top: 4%;
    padding-right: 3vw;
  }

  #howToPlayButton {
    padding: 0.7% 1%;
    font-family: "Rye";
    font-size: 2vw;
    background-color: #f4e8d5;
    border: 0;
    border-radius: 5px;
    margin-right: 1vw;
  }

  #soundOnButton,
  #musicOnButton {
    background-color: #f4e8d5;
    border: none;
    border-radius: 5px;
    margin-right: 1vw;
  }
  #soundOffButton,
  #musicOffButton {
    display: none;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 5;
  }

  a {
    text-decoration: none;
    color:black;
  }
}
