* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 480px) and (orientation: landscape) {

body {font-family: 'Rye', serif;
background: linear-gradient(180deg, rgba(16,1,58,1) 0%, rgba(55,6,117,1) 100%);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 5;
   display:inline-block;
   vertical-align:middle;
}


.toolbar {
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 3%;
    color: white;
}

.toolbar_arrow {
    margin-left: 3%;
}

.toolbar_volume {
    margin-right: 3%;
}

.toolbar_subtitle {
    color: white;
    font-family: 'Ingrid Darling', cursive;
    text-align: center;
    font-size: 25px;
}

.board {
    display:flex;
    flex-direction: column;
    margin-top: 2%;
}

.board_row {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    padding-bottom: 2%;
}

.last {
    padding-bottom: 0%;
}

.card {
    height: 6em;
    width: 6em;
    display:flex;
    flex-direction:row;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
  }

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    background-color: #f4e8d5;
}

.card_face img {
    height: 6em;
    width: 6em;
    object-fit: contain;
}

.toolbar_bottom {
    display: flex;
    flex-direction: row;
    font-size: small;
    color:white;
    justify-content: space-around;
    padding: 1%;
    
}


button{
    background: none;
    border: 0;
    color:white;
    height: 2em;
}

.time {
    width: 8rem;
    line-height: 2em;  
}

.time button {
    margin-right: 5%;
}

.moves {
    line-height: 2em; 
}

}