*{
    margin: 0;
}
body{
    font-family: 'Rye', serif;
}
.container{
   padding: 5%;
    margin-top: 35%;
    text-align: center;
}
h1{
    margin-bottom: 10%;
}
h3{
    margin-bottom: 10%;
}
h2{
    margin-bottom: 10%;
}
